*{
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 1em;
background-color:  gainsboro;

}

/* Path: style.css */
.container{
display: flex;  
flex-direction: row;
background-color: aliceblue;
width: 320px;
border: 1px solid white;
border-radius: 10px;
margin: auto;
padding: 10px;

}
.qr{
width: 300px;
margin: 20px;
background-color: aliceblue;
}
.icon{


height: 220px;

display: flex;
justify-content: center;
background-color: aliceblue;
}


.info{
background-color: aliceblue;







}
p{

        background-color: aliceblue;
}