*{
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 1em;
background-color:  #EFF3F5;

}

/* Path: style.css */
.qr{
width: 300px;
margin: 20px;;
}
.icon{

width: 100%;
height: 220px;
margin: 20px;
display: flex;
justify-content: center;
}
